<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=localhost;Database=ProjectReport;Integrated Security=true;TrustServerCertificate=true" />
    </connectionStrings>
    
    <appSettings>
        <add key="ApplicationName" value="Project Report Manager" />
        <add key="Version" value="1.0.0" />
    </appSettings>
</configuration>

